<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./icon/error.gif">
    <script src="./js/app.js"></script>
    <title>Erro 404 - page not found</title>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <img class="portrait" src="./img/error.png">
        <p>{{errorMessage}}</p>
    </div>
    
    {{> footer}}
</body>
</html>