<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./icon/sobre.png">
    <title>Sobre</title>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <img class="portrait" src="./img/bg.jpg">
    </div>
    
    {{> footer}}
</body>
    <script type="script" src="./js/app.js"></script>
</html>