<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./icon/ajuda.png">
    <title>Ajuda</title>
</head>
<body>
    <div class="main-content">
        {{> header}}
        
        <div class="row">
                <div class="col-md-12">
                    <h2>GitHub - Publicando e criando chaves PUBLICAS/PRIVADAS</h2>
                    <p>Verificar: ls -a -l ~/.ssh</p>
                    <p>Criar chave: ssh-keygen -t rsa -b 4096 -C "EmailDoGIT"</p>
                    <p>eval "$(ssh-agent -s)"</p>
                    <p>ssh-add -k ~/.ssh/id_rsa</p>
                    <p>cat ~/.ssh/id_rsa.pub</p>
                    <p>-> Adicione agora a chave no GIT</p>
                    <p>ssh -T git@github.com</p>
                    <p>Hi RafaelBlum! You've successfully authenticated, but GitHub does not provide shell access.</p>
                    git init
                    git remote rm origin ("RM" NÃO PEGA ACESSO DIRETO DE USUARIO E SENHA)
                    git remote add origin https://github.com/RafaelBlum/cotacao.git
                    git push -u origin master (PRECISAMOS COLOCAR MANUALMENTE USUARIO E SENHA DEVIDO "RM")

                    MODIFICANDO ARQUIVOS NO PROJETO SVCODE, PODEMOS ATUALIZAR NO GitHub
                    git status
                    git add .
                    git commit -m "detalhes do commit"
                    git remote rm origin
                    git remote add origin https://github.com/RafaelBlum/cotacao.git
                    git push -u origin master

                </div>
            
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</body>
     <script type="script" src="./js/app.js"></script>
</html>