<header>
    <div class="container">
         <div class="row">
            <div class="col-md-4">
                    <img src="./img/logotipo.png">
            </div>
            <div class="col-md-8" style="margin-top: 50px;">
                    <a data-toggle="tooltip" data-placement="top" title="Tooltip na esquerda" href="/">Home</a>
                    <a href="about">Sobre</a>
                    <a href="help">Help</a>
            </div>
        </div>
        </div>   
</header> 